@model ShoppingCartLinksModel
@if (Model.ShoppingCartEnabled)
{
    <li class="nav-item item-cart @if (@Model.ShoppingCartItems > 0) { <text>item-cart-with-items</text> } ">
        <a class="nav-link @if (@Model.ShoppingCartItems > 0) { <text>animated bounce-with-delay infinite</text> }" href="@Url.RouteUrl("ShoppingCart")" title="@T("ShoppingCart")"><span class="mdi mdi-24px mdi-cart @if (@Model.ShoppingCartItems > 0) { <text>animated swing</text> }"></span></a>
    </li>
}