@model IList<ProductOverviewModel>

@if (Model.Count == 1)
{
    var product = Model.First();

    <li class="nav-item item-products">
        <a class="nav-link" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@T("ShoppingCart.Reservation")</a>
    </li>
}
else if (Model.Any())
{
    <li class="nav-item dropdown item-products">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@T("ShoppingCart.Reservation")</a>
        <div class="dropdown-menu dropdown-primary">
            @foreach (var product in Model)
            {
                <a class="dropdown-item" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
            }
        </div>
    </li>
}
