@model AdminHeaderLinksModel
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    @if (Model.IsCustomerImpersonated)
    {
        <a class="dropdown-item" href="@Url.RouteUrl("Logout")">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)</a>
    }

    @if (Model.DisplayAdminLink)
    {
        <a class="dropdown-item" href="@Url.Content("~/Admin")">@T("Admin")</a>
    }

    @if (!string.IsNullOrEmpty(Model.EditPageUrl))
    {
        <a class="dropdown-item" href="@Model.EditPageUrl">@T("Edit")</a>
    }
}