@model FooterModel

<footer>
    <div class="row" id="footerContent">

        <div class="col-12 col-sm-6 col-lg-3 p-5 wow animated fadeInDown">
            <h5>@T("Footer.Address.Title")</h5>
            <p>@Html.Raw(Model.CompanyAddress?.Replace("|", "<br>"))</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 p-5 wow animated fadeInDown">
            <h5>@T("Footer.DiscoverUs.Title")</h5>
            <ul class="pl-0 list-pad list-unstyled">
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }

                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 p-5 wow animated fadeInDown">
            <h5>@T("Footer.VisitUs.Title")</h5>
            <ul class="pl-0 list-pad list-unstyled">
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.Login")</a></li>
            </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 p-5 wow animated fadeInDown">
            <h5>@T("Footer.UEProgramme.Title")</h5>
            <ul class="pl-0 list-pad list-unstyled">
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="row pb-5" id="footerSocialMedia">
        <ul class="d-flex flex-row list-group justify-content-center w-100 flex-wrap list-pad pb-0 wow animated fadeInDown">
            @if (!string.IsNullOrEmpty(Model.FacebookLink))
            {
                <li class="list-group-item facebook">
                    <a title="facebook" href="@Model.FacebookLink" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-facebook"></span>
                        <span class="sr-only">Facebook</span>

                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.TwitterLink))
            {
                <li class="list-group-item twitter">
                    <a title="twitter" href="@Model.TwitterLink" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-twitter"></span>
                        <span class="sr-only">twitter</span>
                    </a>
                </li>
            }
            @if (Model.NewsEnabled)
            {
                <li class="list-group-item rss">
                    <a title="rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-rss"></span>
                        <span class="sr-only">@T("NewsRSS")</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.YoutubeLink))
            {
                <li class="list-group-item youtube">
                    <a title="youtube" href="@Model.YoutubeLink" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-youtube"></span>
                        <span class="sr-only">youtube</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.InstagramLink))
            {
                <li class="list-group-item instagram">
                    <a href="@Model.InstagramLink" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-instagram"></span>
                        <span class="sr-only">instagram</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.LinkedInLink))
            {
                <li class="list-group-item linkedin">
                    <a href="@Model.LinkedInLink" rel="noopener" target="_blank">
                        <span class="mdi mdi-36px mdi-linkedin"></span>
                        <span class="sr-only">linkedin</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.PinterestLink))
            {
                <li class="list-group-item pinterest">
                    <a href="@Model.PinterestLink" rel="noopener" target="_blank">
                        <span class="sr-only">pinterest</span>
                        <span class="mdi mdi-36px mdi-pinterest"></span>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="row" id="footerLogos">
        <div class="col-4 align-self-center text-center">
            <img class="img-fluid" src="/Themes/VeganHouse/Content/images/ue_logo1.png" />
        </div>
        <div class="col-4 align-self-center text-center">
            <img class="img-fluid" src="/Themes/VeganHouse/Content/images/ue_logo2.png" />
        </div>
        <div class="col-4 align-self-center text-center">
            <img class="img-fluid" src="/Themes/VeganHouse/Content/images/ue_logo3.png" />
        </div>
    </div>
</footer>