@model HeaderLinksModel
@using System.Text.Encodings.Web
@await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })
@if (Model.IsAuthenticated)
{
    <li class="nav-item dropdown item-account" id="navbarNavAccountMenu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="mdi mdi-24px mdi-account-circle"></span></a>
        <div class="dropdown-menu position-absolute">
            <a class="dropdown-item" href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a>
            @await Component.InvokeAsync("AdminHeaderLinks")
            <a class="dropdown-item" href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link ico-account" href="@Url.RouteUrl("Login")" title="@T("Account.Login")"><span class="mdi mdi-24px mdi-lock-open"></span></a>
    </li>
}
@await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
