@model IEnumerable<TopMenuModel.TopMenuTopicModel>

@foreach (var topic in Model)
{
    if (!topic.Children.Any())
    {
        <li class="nav-item"><a class="nav-link" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@topic.Name</a>
            <div class="dropdown-menu dropdown-primary">
                @foreach (var subtopic in topic.Children)
                {
                    <a class="dropdown-item" href="@Url.RouteUrl("Topic", new { SeName = subtopic.SeName })">@subtopic.Name</a>
                }
            </div>
        </li>
    }
}