@model ProductModel

@if (!String.IsNullOrEmpty(Model.Id))
{
<div class="panel panel-default">
    <div class="panel-body">
        <div id="resources-grid"></div>
    </div>
    <div class="panel-footer" style="display: none">
        <input type="submit" id="btnRefreshResources" style="display: none" />
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#resources-grid").kendoGrid({
                dataSource: {
                    transport: {
                        create: {
                            url: "@Html.Raw(Url.Action("ResourceAdd", "Product", new { productId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        read: {
                            url: "@Html.Raw(Url.Action("ResourceList", "Product", new { productId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        update: {
                            url:"@Html.Raw(Url.Action("ResourceUpdate", "Product"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("ResourceDelete", "Product"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                Name: { editable: true, type: "string" },
                                SystemName: { editable: true, type: "string" }
                            }
                        }
                    },
                    requestEnd: function(e) {
                        if(e.type=="update") {
                            this.read();
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }],
                editable: {
                    confirmation: true,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "Name",
                    title: "@T("Admin.Catalog.Products.Resources.Fields.Name")",
                    template: '#=Name#',
                }, {
                    field: "SystemName",
                    title: "@T("Admin.Catalog.Products.Resources.Fields.SystemName")",
                    template: '#=SystemName#',
                }, {
                    command: [{
                        name: "edit",
                        text: {
                            edit: "@T("Admin.Common.Edit")",
                            update: "@T("Admin.Common.Update")",
                            cancel: "@T("Admin.Common.Cancel")"
                        }
                    }, {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                    }]
                }]
            });
        });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRefreshResources').click(function () {
            //refresh grid
            var grid = $("#resources-grid").data('kendoGrid');
            grid.dataSource.read();

            //return false to don't reload a page
            return false;
        });
    });
</script>

}
else
{
<div class="note note-info">
    @T("Admin.Catalog.Products.Resources.SaveBeforeEdit")
</div>
}